
<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109769373-1"></script>
    <script n:syntax=off>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109769373-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Miss pivoňka">
    <meta name="author" content="Skupina 9">
    <link rel="icon" href="{$basePath}/img/page/pivonka.ico">

    <title>Miss Pivoňka</title>

    <link href="{$basePath}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/custom.css" rel="stylesheet">
    <link href="{$basePath}/css/footer.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Pivoňky</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="{link Homepage:testovaniB}">Encyklopedie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Žebříček</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Přidat pivoňku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">O projektu</a>
            </li>          
          </ul>
        </div>
    </div>
</nav>    
    <div class="wide">
      <div class="col-xs-12 head">
        <h1>
          Miss pivoňka
          <small>2018</small>
        <h1>    
      </div>
    </div>


    <main class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- Obsah úvodní stránky pro testování -->
        <h1>Úvodní stránka</h1>
        <p>Ad veniam laboris cillum veniam cupidatat irure Lorem adipisicing sit. Quis et mollit consectetur duis quis enim cillum. Quis labore aliquip occaecat proident est proident. Adipisicing est fugiat sit ut ea eiusmod aute excepteur. Quis reprehenderit do dolor ex non anim ea laborum voluptate duis aute cupidatat ut. Adipisicing quis irure laboris amet ad in ea velit excepteur nulla. Laboris sint voluptate amet ea reprehenderit laboris reprehenderit anim aliquip.</p>
        <p>Consequat laborum anim aliquip qui adipisicing et veniam consequat velit anim fugiat elit deserunt eiusmod. Officia ullamco ut eu elit Lorem anim aute fugiat et. Ullamco consectetur qui Lorem dolore pariatur ut officia ex. Aliqua culpa ad qui sunt aute est non.</p>
        <p>Enim deserunt sint consequat fugiat consequat consequat laborum adipisicing consequat mollit. Commodo fugiat non eu enim mollit. Pariatur ex adipisicing mollit eiusmod enim sit labore aliqua aliquip. Proident adipisicing exercitation cillum tempor pariatur et ullamco non nisi anim.</p>
        <p>Adipisicing tempor magna elit est adipisicing voluptate dolor. Adipisicing minim irure amet exercitation duis minim consequat dolor enim labore sint non. Consequat quis consectetur incididunt anim aute occaecat quis laborum. Dolor consectetur ullamco laborum est eiusmod non amet occaecat cupidatat consequat ex aliqua. Reprehenderit ad cillum cupidatat labore laborum voluptate quis velit elit non. Irure adipisicing veniam duis nisi officia duis sit eiusmod. Excepteur sint id consectetur nisi est in aliquip laboris et ullamco reprehenderit.</p>
        <p>Dolor elit sunt quis ut laborum qui laborum. Sit nisi sit cillum velit. Commodo officia aliquip ut mollit deserunt. Deserunt anim commodo non est laboris irure mollit irure officia non non minim aliqua consequat.
        <!-- Konec obsahu úvodní stránky pro testování -->        
        </div>
      </div>
    </main>

    <footer id="myFooter" class="container">
<style>
@media screen and (min-width: 767px) {
    .footer-menu li {
        float: left;
        padding-top: 35px;
        padding-bottom: 25px;
    }
}
</style>
<div class="row">
    <div class="col-sm-4">
        <h2 class="logo"><a href="/"> PIVOŇKY </a></h2>
    </div>
    <div class="col-sm-8">
        <ul class="footer-menu">
<li class="nav-item">
    <a class="nav-link " href="{link Homepage:testovaniB}">Encyklopedie</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">Žebříček</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">Přidat pivoňku</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">O projektu</a>
</li>        </ul>
    </div>
</div>
<div class="footer-copyright">
    <p>© 2017 PIVOŇKY </p>
</div>    </footer>

<script n:syntax=off>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-85914521-1', 'auto');
	  ga('send', 'pageview');

// Generated by LunaMetrics at http://buff.ly/12bFTwk
// Place Google Analytics tracking code here, or in a .js file

$(document).ready(function() {

	$("a").each(function() {
		var href = $(this).attr("href");
		var target = $(this).attr("target");
		var text = $(this).text();
		var thisEvent = $(this).attr("onclick"); // grab the original onclick event
		$(this).click(function(event) { // when someone clicks these links
			event.preventDefault(); // don't open the link yet
			ga('send', 'event', 'Links', 'Clicked', href); // create a custom event
			setTimeout(function() { // now wait 300 milliseconds...
				eval(thisEvent); // ... and continue with the onclick event
				window.open(href,(!target?"_self":target)); // ...and open the link as usual
			},300);
		});
	});

});
</script>

  </body>
</html>

