
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Miss pivoňka">
    <meta name="author" content="Skupina 9">
    <link rel="icon" href="{$basePath}/img/page/pivonka.ico">

    <title>Miss Pivoňka</title>

    <link href="{$basePath}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{$basePath}/css/custom.css" rel="stylesheet">
    <link href="{$basePath}/css/footer.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Pivoňky</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="#">Encyklopedie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Žebříček</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Přidat pivoňku</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">O projektu</a>
            </li>          
          </ul>
        </div>
    </div>
</nav>    
    <div class="wide">
      <div class="col-xs-12 head">
        <h1>
          Miss pivoňka
          <small>2018</small>
        <h1>    
      </div>
    </div>


    <main class="container">
      <div class="row">
        <div class="col-md-12">
<style>
    .full-width {
        width:100% !important;
        padding-bottom: 2px;
    }
    .btn.btn-default.active{
        border: 3px solid lightblue;
    }
    .star, .star:hover{
        color: gold;
        font-size: 25pt;
    }    
</style>

<h1>Encyklopedie</h1>
<div id="snippet--ajaxFlowers"><div class="row">
    <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <center><img src="/img/flowers/6471-1179737450_01.jpg"></center>
                </div>
                <div class="col-md-12">
                    <center class="star">
                                <a id="star" href="#" class="ajax star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                <a id="star" href="#" class="ajax star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                <a id="star" href="#" class="ajax star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                <a id="star" href="#" class="ajax star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                                <a id="star" href="#" class="ajax star"><i class="fa fa-star-o" aria-hidden="true"></i></a>
                    </center>
                    <center>
                        <small>Moje hodnocení (nehodnoceno)</small>
                    </center>
                    <br>
                    <p><strong>Bloom time:</strong>&nbsp;June<br /><strong>Exposure:</strong>&nbsp;5-6 hours of full sun per day<br /><strong>Planting depth:</strong>&nbsp;&frac12;&rdquo; in warm zones, 1 &frac12;&rdquo; in cooler zones<br /><strong>Fast Facts:</strong></p><ul><li>Hybrid plants that blend the perennial habit of herbaceous peonies with the sturdiness, giant flowers, and color range of tree peonies</li><li>Herbaceous in nature, dying back to the ground when winter comes</li><li>Often called Itoh peonies</li><li>Attractive foliage through summer and into fall</li><li>Good at the front of the border because they are shorter than tree and herbaceous peonies</li><li>Showy and don&rsquo;t need staking</li></ul>
                </div>
            </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group-vertical full-width" role="group" aria-label="Seznam pivoňek">
            <a href="#" class="ajax full-width"><button type="button" class="btn btn-default  active ">Garden Treasure</button></a>
            <a href="#" class="ajax full-width"><button type="button" class="btn btn-default ">Paeonia lactiflora</button></a>
            <a href="#" class="ajax full-width"><button type="button" class="btn btn-default ">Pink Hawaiian Coral</button></a>
            <a href="#" class="ajax full-width"><button type="button" class="btn btn-default ">Pivoňka pěstovní</button></a>
        </div>
    </div>
    </div>
    </div>        
    </div>
    </div>
</main>

    <footer id="myFooter" class="container">
<style>
@media screen and (min-width: 767px) {
    .footer-menu li {
        float: left;
        padding-top: 35px;
        padding-bottom: 25px;
    }
}
</style>
<div class="row">
    <div class="col-sm-4">
        <h2 class="logo"><a href="/"> PIVOŇKY </a></h2>
    </div>
    <div class="col-sm-8">
        <ul class="footer-menu">
<li class="nav-item">
    <a class="nav-link " href="#">Encyklopedie</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">Žebříček</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">Přidat pivoňku</a>
</li>
<li class="nav-item">
    <a class="nav-link " href="#">O projektu</a>
</li>        </ul>
    </div>
</div>
<div class="footer-copyright">
    <p>© 2017 PIVOŇKY </p>
</div>    </footer>

<script n:syntax=off>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-85914521-1', 'auto');
	  ga('send', 'pageview');

// Generated by LunaMetrics at http://buff.ly/12bFTwk
// Place Google Analytics tracking code here, or in a .js file

$(document).ready(function() {

	$("a").each(function() {
		var href = $(this).attr("href");
		var target = $(this).attr("target");
		var text = $(this).text();
		var thisEvent = $(this).attr("onclick"); // grab the original onclick event
		$(this).click(function(event) { // when someone clicks these links
			event.preventDefault(); // don't open the link yet
			ga('send', 'event', 'Links', 'Clicked', href); // create a custom event
			setTimeout(function() { // now wait 300 milliseconds...
				eval(thisEvent); // ... and continue with the onclick event
				window.open(href,(!target?"_self":target)); // ...and open the link as usual
			},300);
		});
	});

});
</script>

  </body>
</html>

