
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Miss pivoňka">
    <meta name="author" content="Skupina 9">
    <link rel="icon" href="{$basePath}/img/page/pivonka.ico">

    <title>Miss Pivoňka | Vstup do A/B testování</title>

    <link href="{$basePath}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>
    <main class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- Obsah úvodní stránky pro testování -->
    </br>
     <div class="jumbotron">
        <center><h1>Vstup do A/B testování</h1></center>
        </br>
		<p class="alert alert-danger">Cílem je na stránce najít odkaz na <strong>Encyklopedii</strong> a kliknout na něj.</p>
		<p class="lead">Kliknutím na kterýkoli odkaz na další stránce je test ukončen. Měříme, jestli odkaz s <strong>Encyklopedií</strong> najdete a cílem je kliknout na správný odkaz co nejrychleji. Pokud kliknete na špatné, nic se neděje, pak už se, prosím, nevracejte. Počítáme v Analytics pouze první pokus.</p>
        <p><a class="btn btn-lg btn-success" href="{link Homepage:testovaniA}" role="button">Vstoupit do testu</a></p>
      </div>
        <!-- Konec obsahu úvodní stránky pro testování -->        
        </div>
      </div>
    </main>
  </body>
</html>

