<IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteRule ^$ /1718zs/ete32e/09/www/ [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteCond %{REQUEST_URI} !^/1718zs/ete32e/09/www/
        RewriteRule ^(.*)$ /1718zs/ete32e/09/www/$1
</IfModule>