parameters:


application:
	errorPresenter: Error
#	catchExceptions: true
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=localhost;dbname=ete32e_1718zs_09'
	user: 'ete32e_1718zs_09'
	password: 'pxuQE5'


services:
	router: App\RouterFactory::createRouter
	authenticator: Authenticator
	UserModel: User
