
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {block styles}
    <link href="{$basePath}/css/admin.css" rel="stylesheet">
    <link href="{$basePath}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{$basePath}/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Use this css for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/happy/dist/happy.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.css">

    <!-- Use this css for ajax spinners -->
    <link rel="stylesheet" type="text/css" href="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.css">
    <style>
    .dropdown-toggle::after {
        display:none
    }
    </style>
    {/block}
    <script src="{$basePath}/ckeditor/ckeditor.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{link Flower:default}">Administrace</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {$presenter->isLinkCurrent('User:*') ? active}">
              <a class="nav-link" href="{link User:default}">Uživatelé</a>
            </li>
            <li class="nav-item {$presenter->isLinkCurrent('Flower:*') ? active}">
              <a class="nav-link" href="{link Flower:default}">Pivoňky</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto pull-right">
             <li class="nav-item">
              <a class="nav-link" href="{link :Front:Homepage:default}">Zobrazit stránky</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
          {block content}{/block}
        </main>
      </div>
    </div>

	{block scripts}
		<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="{$basePath}/js/popper.min.js"></script>
		<script src="{$basePath}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{$basePath}/bower_components/jquery/dist/jquery.js"></script>
    <script src="{$basePath}/bower_components/nette-forms/src/assets/netteForms.js"></script>
    <script src="{$basePath}/bower_components/nette.ajax.js/nette.ajax.js"></script>

    <!-- Use this tiny js for that pretty checkboxes (https://github.com/paveljanda/happy) -->
    <script src="{$basePath}/bower_components/happy/dist/happy.js"></script>
    <script src="{$basePath}/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="{$basePath}/bower_components/jquery-ui-sortable/jquery-ui-sortable.js"></script>
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid.js"></script>

    <!-- It is recommended to include this JS file with just a few bits. It refreshes URL on non ajax request -->
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-instant-url-refresh.js"></script>

    <!-- Use this little extension for ajax spinners -->
    <script src="{$basePath}/bower_components/ublaboo-datagrid/assets/dist/datagrid-spinners.js"></script>

    <!-- Include bootstrap.js for proper behaviour of ColumnStatus -->
    <script src="{$basePath}/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Include bootstrap-select.js when using FilterMultiSelect (silviomoreto.github.io/bootstrap-select) -->
    <script src="{$basePath}/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>
    <script>
        $.nette.init();
    </script>
	{/block}
  </body>
</html>
